<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
 <connectionStrings>
      <add name="stringConexion" 
           connectionString="Server=(Local);Database=Leal_Tecnologia;User Id=LealTecnologia;Password=TecnologiaLealSQL.XXX"
           providerName="System.Data.SqlClient"
    />
    </connectionStrings>

	<appSettings>
		<add key="servidor" value="(Local)"/>
		<add key="baseDatos" value="Leal_Tecnologia"/>
		<add key="usuario" value="LealTecnologia"/>
		<add key="Password" value="TecnologiaLealSQL.XXX"/>
	</appSettings>
</configuration>
