<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltoControls" version="1.0.1" targetFramework="net461" />
  <package id="DevExpress.AgControls" version="8.2.5.1" targetFramework="net46" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="WinFromSkin" version="1.0.2" targetFramework="net461" />
</packages>