<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.Conexion_General" connectionString="Data Source=(local);Initial Catalog=Leal_Enterprise;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

	<appSettings>
		<add key="Servidor" value="DESKTOP-U44EJIV"/>
		<add key="Base" value="Leal_Tecnologia"/>
		<add key="Usuario" value="sa"/>
		<add key="Password" value="123456"/>
	</appSettings>

</configuration>